<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996025416782-feke3uqf0oofdes6e3ak7ufgq4uvkpjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996025416782-feke3uqf0oofdes6e3ak7ufgq4uvkpjr</string>
	<key>API_KEY</key>
	<string>AIzaSyDVue_U6Qs4dq9Kwf_QOGqwqKYw_pfTMp8</string>
	<key>GCM_SENDER_ID</key>
	<string>996025416782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iitChat</string>
	<key>PROJECT_ID</key>
	<string>iit-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>iit-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996025416782:ios:a8e315966457510505171f</string>
</dict>
</plist>